@{
    ViewData["Title"] = "Calculation";
}
<h1>@ViewData["Title"]</h1>

<p>This tab allows you to calculate the overall sentiment score of a document. The document may be entered manually via the input field or uploaded as .txt file.</p>
