@model IcyFireTest.Models.Word
 
<h2>Edit the word</h2>
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Text">Word</label><br />
        <input type="text" asp-for="Text" />
    </p>
    <p>
        <label asp-for="Score">Score</label><br />
        <input type="number" step="any" asp-for="Score" />
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
</form>